<!DOCTYPE html>
<html lang="en">

  <head>
      <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>

  <body>
      <ul id="Hotels">
        <li>
          {{ templateHotels }}
        </li>
      </ul>

      <ul id="Restaurants">
        <li>
          {{ templateRestaurants }}
        </li>
      </ul>

      <ul id="Activities">
        <li>
          {{ templateActivities }}
        </li>
      </ul>
  </body>

</html>
