<!DOCTYPE html>
<html lang="en">

  <head>
      <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
      <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <!-- Script tags go here! -->
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByrb9bbTSNEMWVdoibKkqWwe-99Qk7AN0&sensor=true"></script>
   <script type="text/javascript" src="/jquery/jquery.js" ></script>
   <script defer type="text/javascript" src="map.js" ></script>

  </body>
  </html>
