.navbar, .navbar-default {
  background-color: #552BDC;
  border-color: #9C82F1;
  margin-bottom: 100px; }

.btn, .btn-custom {
  background-color: #7550EA; }

.row {
  background-color: #7550EA;
  opacity: 0.5; }

#map-canvas {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

body {
  padding-bottom: 60px; }
