$bgDefault : #2F1092;
$bgHighlight : #7550EA;
$colDefault : #552BDC;
$colHighlight : #9C82F1;


.navbar, .navbar-default {
    background-color: $colDefault;
    border-color: $colHighlight;
    margin-bottom: 100px;
}

.btn, .btn-custom {
  background-color: $bgHighlight;
}

.row {
  background-color: $bgHighlight;
  opacity: 0.5;
}

#map-canvas {
  height: 100vh;
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  padding-bottom: 60px;
}
